.holding-container-about{
    display: flex;   
    background-color: white;
    width: 100vw;
    height: 190vh;
    padding-bottom: 220px;
   
    
}
.header-style{
  padding-top: 20px;
    margin: 0 auto;
    margin-top: 5%;
}
.logo-image-size{
    width: 30vh;
}

.intro{
    padding-top: 55px;
    padding-bottom: 50px;
    font-size: 32px;
}


.begin{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline blue;
    text-underline-position: under;
    padding-top: 40px;
}
.end{
    padding-top: 20px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}


body{
    overflow-y: scroll;
    overflow-x: hidden; 
}

* {
    box-sizing: border-box;
  }
  
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: blue;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: 0px;
  }
  
  /* Container around content */
  .container {
     /* padding: 10px 20px;  */
    position: relative;
    
    
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: 296px;
    background-color: white;
    border: 4px solid blue;
    top: 15px;
    border-radius: 50px;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 110px;
   
  }
  
  /* Place the container to the right */
  .right {
    left: 445px;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 286px;
    border: medium solid blue;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent blue;
  
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: -6px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent blue transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -38px;
  }
 
  
  /* The actual content */
  .content {
   font-size: 18px;
    background-color: white;
    width:280px;
    height: 215px;
    border-radius: 6px;
    
  }
  
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) { 
  .logo-image-size{
    width: 25vh;
}
    .intro{
      padding: 15px;
    }
    /* Place the timelime to the left */
      .timeline::after {
        left: 29px;
      }
    
    /* Full-width containers */
      .container {
        width: 100%;
    
      }
    
    /* Make sure that all arrows are pointing leftwards */
      .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
      }
    
    /* Make sure all circles are at the same spot */
      .left::after, .right::after {
        left: -95px;
      }
    
    /* Make all right containers behave like the left ones */
      .right {
        left: 110px;
      }
    }

    @media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 736px) 
    and (-webkit-min-device-pixel-ratio: 3) { 
    /* Place the timelime to the left */
      .timeline::after {
        left: 29px;
      }
    
    /* Full-width containers */
      .container {
        width: 100%;
    
      }
    
    /* Make sure that all arrows are pointing leftwards */
      .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
      }
    
    /* Make sure all circles are at the same spot */
      .left::after, .right::after {
        left: -95px;
      }
    
    /* Make all right containers behave like the left ones */
      .right {
        left: 110px;
      }
    }
  /* ----------- iPhone 6, 6S, 7 and 8 ----------- */
    @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2) { 
  /* Place the timelime to the left */
    .timeline::after {
      left: 65px;
    }
  
  /* Full-width containers */
    .container {
      width: 100px;
  
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: -23px;
      border: medium solid blue;
      border-width: 10px 10px 10px 0;
      border-color: transparent blue transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: -55px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 105px;
    }

    /* Place the container to the left */
  .left {
    left: 105px;
   
  }
  
  /* Place the container to the right */

    .content {
      font-size: 16px;
       background-color: white;
       width:190px;
       height: 170px;
       border-radius: 6px;
       
     }
     body {
      overflow-x: hidden;
      
  }
  }


  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .header-style{
     
     margin-top: 40px;
    }

    .intro{
        font-size: 18px;
    }
    .image-size{
        width: 15vh;
    }
   
}

@media screen and (max-width: 400px){
  .header-style{
   
   margin-top: 40px;
  }

  .intro{
      font-size: 18px;
  }
  .image-size{
      width: 15vh;
  }
  .holding-container-about{
    display: flex;   
    background-color: white;
    width: 100vw;
    height: 110vh;
    padding-bottom: 220px;
   
    
}
}
@media screen and (max-width: 380px){
  .holding-container-about{
    display: flex;   
    background-color: white;
    width: 100vw;
    height: 160vh;
    padding-bottom: 220px;
   
    
}
}
@media screen and (max-width: 350px){
  .holding-container-about{
    display: flex;   
    background-color: white;
    width: 100vw;
    height: 190vh;
    padding-bottom: 220px;
   
    
}
}



